<div class="row" id="whole-form">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
    <%= bootstrap_form_for @joblisting, html: {multipart: true, class: "panel panel-primary"}, method: :post do |f| %>
    <div class="panel-heading" id="job-heading"><h4> Request </h4> </div>
    <div class="form-padding">
      <div class='field'>
        <h4 class="question"></h4>
        <%= f.select :issue, ['Operation optimization', 'Cost reduction', 'Growth' ,'Strategy', 'Mergers and Acquisition', 'Market Entry', 'Financial due diligence', 'Product development', 'Digital transformation'] %>
      </div>

      <br/>

      <!-- <div class='field'>
        <h4 class="question">What type of fixtures do you require?</h4>
        <%= label_tag 'fixture_wiring', 'Wiring' %>
        <%= check_box_tag 'joblisting[fixture][]', 'Wiring', checked_f('Wiring'), id: 'fixture_wiring' %>

        <%= label_tag 'fixture_light', 'Lights' %>
        <%= check_box_tag 'joblisting[fixture][]', 'Lights', checked_f('Lights'), id: 'fixture_light' %>

        <%= label_tag 'fixture_switch', 'Switches' %>
        <%= check_box_tag 'joblisting[fixture][]', 'Switches', checked_f('Switches'), id: 'fixture_switch' %>
      </div>

      <br/> -->

      <div class="field">
        <h4 class="question"></h4>
        <%= f.select :budget, ['20,000','30,000','40,000','50,000'] %>
      </div>

      <br/>

      <!-- <div class='field'>
        <h4 class="question">When does it need to be done?</h4>
        <%= f.select :date, ['Within 5 days', 'Within 2 weeks', 'Within 1 month'] %>
      </div>

      <br/>

      <div class="field">
        <%= f.select :time, ['Morning','Afternoon','Evening'] %>
      </div>

      <br/> -->

      <!-- <div class='field'>
        <h4 class="question">What type of property do you stay in?</h4>
        <%= f.select :housing, ['HDBs', 'Condo', 'Landed'] %>
      </div> -->

      <!-- <br>
      <h4 class="question">Upload Job Image</h4>
      <div class="job_attaches">
        <%= f.fields_for :job_attaches do |job_attach| %>
        <%= render'partials/job_attachment', f: job_attach %>
        <% end %>
        <%= link_to_add_association 'Add Image', f, :job_attaches, partial: 'partials/job_attachment' %>

      </div>
      <br> -->

      <div class="field">
        <%= f.text_area :description, autofocus: true, placeholder: 'Description' %>
      </div>

      <!-- <div class="field">
        <%= f.text_area :job_address, autofocus: true, placeholder: 'Job Address' %>
      </div> -->

      <div class='actions'>
        <%= f.submit "Send Request", class:"btn btn-success btn-block" %>
      </div>

      <% end %>

    </div>

  </div>
</div>
