<ul class="menu cf">
  <li><%= link_to 'Home', users_path %></li>
  <li><%= link_to 'Consultants', electricians_path %></li>
  <li><%= link_to 'Request job', new_joblisting_path %></li>
  <li><%= link_to 'Profile', user_path(current_user) %></li>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
</ul>
